body { 
    background-color: #faf2e2;
}

#titulo {
    text-align: center;
    font-size: 60px;
}

.texto {
    text-align: justify;
    font-size: 40px;
    color:rgb(99, 32, 80);
}

